header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 70px;
  height: auto;
}
